{% extends 'newwebpage/layout.html' %}

{% block title %}{{ news_content.title }}{% endblock %}

{% block buttons %}
{% endblock %}

{% block content %}
    <div class="alert alert-dark">
        <h1>{{ news_content.title }}</h1>
        <h4>Автор новости: {{ news_content.author }}</h4>
        <p>{{ news_content.date_write }}</p>
        <p>{{ news_content.full_text }}</p>
    </div>
    <div>
        <a href="{% url 'news_home' %}" class="btn btn-dark">Назад</a>
        {% if user.is_authenticated and user == news_content.author %}

            <a href="{% url 'news_edit' news_content.id %}" class="btn btn-main">Редактировать</a>
            <a href="{% url 'news_delete' news_content.id %}" class="btn btn-main">Удалить</a>
        {% endif %}
    </div>
{% endblock %}