{% extends 'newwebpage/layout.html' %}

{% block title %}Создание новости{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма создания</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.annotation }}<br>
            {{ form.full_text }}<br>
            {{ form.date_write }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-dark">Добавить новость</button>
        </form>
    </div>
{% endblock %}