{% extends 'newwebpage/layout.html' %}

{% block title %}Страница о нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Страница про нас</h1>
        <h3>Информация</h3>
        <div>
        <ul class="btn btn-dark">
            <a style='text-decoration: none;'><li>Мы работаем с 2023 года как проект для портфолио.</li></a>
            <a style='text-decoration: none;'><li>По любым вопросам обращайтесь в 112.</li></a>
            <a style='text-decoration: none;'><li>Сайт написан с использованием замечательного фреймворка под названием Django.</li></a>
            <a style='text-decoration: none;'><li>Автор сайта указан слева сверху под изображением.</li></a>

        </ul>
        </div>
    </div>
{% endblock %}